/* フォント */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

/* トップページ */
.wrap {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, #FFDDBB, #F8E340);
  position: relative;
}

.wrap-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-img {
  border-radius: 50%;
}

.wrap-nav {
  position: absolute;
  top: 86%;
  left: 50%;
  transform: translateX(-50%);
}

.wrap-nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 586px;
  height: 105px;
  background-color: rgba(126, 126, 126, 0.11);
  border-radius: 50px;
  border: 1px solid #707070;
  font-size: 24px;
  font-style: oblique;
}

.wrap-nav-menu a:hover {
  color: #fff;
  letter-spacing: 1.5px;
  transition: all 0.4s ease-out;
}

.wrap-sns {
  position: absolute;
  top: 86%;
  right: 5%;
}

.wrap-sns-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 210px;
  height: 105px;
  font-size: 32px;
}

/* ヘッダー */
.header {
  height: 260px;
  width: 100vw;
  background: linear-gradient(135deg, #FFF79B, #F8E340);
  position: relative;
}

.header-profile {
  height: 84px;
  width: 84px;
  background-image: url(../img/K.png);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
}

.header-nav {
  height: 340px;
  width: 360px;
  position: absolute;
  top: 58px;
  right: 4%;
}

.header-nav-menu {
  display: flex;
  justify-content: space-between;
}

.header-nav-menu a:hover {
  color: #fff;
  transition: all 0.4s ease-out;
}

.header-sub-title {
  font-family: 'Nunito', sans-serif;
  font-size: 192px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}

.header-sub-title-line {
  height: 16px;
  width: 30%;
  border-radius: 40px;
  background: linear-gradient(135deg, #FF7700, #F8E340);
  position: absolute;
  bottom: -24%;
  left: 50%;
  transform: translateX(-50%);
}

/* フッター */
.footer {
  height: 480px;
  width: 100vw;
  background: linear-gradient(135deg, #FFDDBB, #FF7700);
  position: relative;
}

.footer-sns {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}

.footer-sns-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 490px;
  height: 96px;
}

.footer-sns-menu a {
  height: 96px;
  width: 96px;
  background-color: #FF6200;
  border-radius: 50%;
  border: 1px solid #808080;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: #808080;
}

.footer-sns-menu a:hover {
  opacity: 0.8;
  transition: all 0.3s ease-out;
}

.footer-sns-menu li:nth-child(2) a {
  background-color: #FFE200;
}

.footer-copyright {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  font-style: oblique;
}

.footer-img {
  height: 220px;
  width: 440px;
  border-radius: 220px 220px 0 0;
  background-image: url(../img/K.png);
  background-position: 50% 34%;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Aboutページ */
.about-section {
  padding: 80px 0;
}

.tabs {
  background-color: #efefef;
  width: 860px;
  padding: 10px;
  margin: 0 auto;
}

.tab_item {
  width: calc(100% / 2);
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  font-weight: bold;
  transition: all 0.2s ease;
}

.tab_item:hover {
  opacity: 0.75;
}

input[name="tab_item"] {
  display: none;
}

.tab_content {
  display: none;
  padding-bottom: 40px;
  clear: both;
  overflow: hidden;
}

.tab_content_img {
  height: 280px;
  width: 280px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.tab_content_img_anime {
  background-image: url(../img/K.png);
}

.tab_content_img_real {
  background-image: url(../img/Real.jpg);
}

#anime:checked ~ #anime_content,
#real:checked ~ #real_content {
  display: flex;
  justify-content: center;
}

.tabs input:checked + .tab_item {
  background-color: #707070;
  color: #fff;
  border-radius: 50px;
}

.about-text {
  text-align: center;
  margin-top: -30px;
}

.about-text h3 {
  font-size: 48px;
  font-weight: bold;
}

.about-text p {
  margin-top: 10px;
  font-size: 14px;
}

.about-career {
  margin-top: 24px;
  text-align: center;
}

.about-career h3 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.about-career a {
  padding-top: 80px;
  color: #000;
  text-decoration: none;
  position: relative;
  top: 80px;
}

.about-career a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}

.about-career a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.about-career a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}

.about-career a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

@-webkit-keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.career {
  margin: 140px auto 0;
  width: 860px;
  display: flex;
  flex-wrap: wrap;
}

.career-box {
  height: 180px;
  width: calc((100% - 60px) / 2);
  background-color: #EFEFEF;
  border: 1px solid #707070;
  border-radius: 4px;
  padding: 10px;
  margin-right: 60px;
  margin-bottom: 60px;
  text-align: left;
}

.career-box:nth-child(2n) {
  margin-right: 0;
}

.career-box:last-child, .career-box:nth-last-child(2):nth-child(odd) {
  margin-bottom: 0;
}

.career-box:first-child {
  background: linear-gradient(135deg, #FFF79B, #F8E340);
}

.career-box:last-child {
  background:linear-gradient(135deg, #FFDDBB, #FF7700);
}

.career-box h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
}

/* Portfolioページ */
.portfolio-section {
  padding: 80px 0;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 120px;
}

.portfolio-box {
  height: 240px;
  background-color:rgba(126, 126, 126, 0.11);
  border-radius: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
}
.portfolio-box:hover {
  opacity: 0.7;
}

@media screen and (min-width: 961px) {
  .portfolio-box {
    width: calc((100% - 40px) / 3);
  }
  .portfolio-box:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 376px) and (max-width: 960px) {
  .portfolio-box {
    width: calc((100% - 20px) / 2);
  }
  .portfolio-box:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 375px) {
  .portfolio-box {
    width: 100%;
  }
}

.portfolio-box.kataduke {
  background-image: url(../img/Kataduke-img.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.portfolio-box.hanseee {
  background-image: url(../img/Hanseee-img.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.portfolio-box.myself {
  background-image: url(../img/MYSELF-img.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.portfolio-box.nayamitter {
  background-image: url(../img/nayamitter-img.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.portfolio-box.pysite {
  background-image: url(../img/Pysite-img.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.portfolio-box.tomodachi {
  background-image: url(../img/Tomodachi-img.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.portfolio-box .framework {
  display: inline-block;
  height: 20px;
  width: 80px;
  text-align: center;
  line-height: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.portfolio-box .framework.laravel {
  color: #fff;
  background-color: #e37971;
}
.portfolio-box .framework.rails {
  color: #fff;
  background-color: #b53d2e;
}
.portfolio-box .framework.django {
  color: #fff;
  background-color: #214a35;
}

.portfolio-box .appname {
  height: 40px;
  width: 100%;
  background-color: #000;
  color: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
}

.portfolio-box .recommend {
  display: inline-block;
  height: 20px;
  width: 80px;
  text-align: center;
  font-size: small;
  color: #fff;
  line-height: 20px;
  border-radius: 20px;
  position: absolute;
  top: 0;
  right: 0;
}

.portfolio-box .recommend.gold {
  background: linear-gradient(45deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%);
}
.portfolio-box .recommend.silver {
  background: linear-gradient(45deg, #757575 0%, #9E9E9E 45%, #E8E8E8 70%, #9E9E9E 85%, #757575 90% 100%);
}

/* Skillページ */
.skill-section {
  padding: 80px 0 60px;
}

.skill {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  margin: 0 auto;
  position: relative;
}

.skill h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

.skill-box {
  height: 400px;
  border: 1px solid #707070;
  width: calc((100% - 100px) / 2);
  border-radius: 50%;
  margin-right: 100px;
  margin-bottom: 20px;
  background-position: center;
  background-size: cover;
}

.skill-box:nth-child(2n - 1) {
  margin-right: 0;
}

.skill-box:last-child, .skill-box:nth-last-child(2):nth-child(odd) {
  margin-bottom: 0;
}

.skill-box:nth-of-type(1) {
  background-image: url(../img/frontend-img.png);
}
.skill-box:nth-of-type(2) {
  background-image: url(../img/backend-img.png);
}
.skill-box:nth-of-type(3) {
  background-image: url(../img/git-docker-img.png);
}
.skill-box:nth-of-type(4) {
  background-image: url(../img/skill-img.png);
}